.card {
  margin: 5px;
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.card-header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}
.card-footer {
  padding: 5px;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}
.card-main {
  padding: 5px;
  min-height: 50px;
}
