.hidden,
[hidden] {
  display: none !important;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}

.fast-img {
  max-width: 100%;
  height: auto;
  display: block;
}
